.contacts__title {
  font-size: 18px;
  font-weight: 700;
}

.contacts__list {
  font-size: 14px;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.contacts__link {
  color: @brand-color-font;
  border-bottom: 1px solid @brand-color-1;
}

.contacts__link:hover,
.contacts__link:focus {
  color: @brand-color-1;
  border-bottom: 1px solid @brand-color-1;
}

.contacts__link:active {
  color: @brand-color-1;
  border-bottom: 1px solid @brand-color-transparent-10;
}

.contacts__flex-container {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}
