legend span {
  display: block;
}

.form-order__header {
  background-color: @footer-color;
}

.form-order__title {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
}

.form-order__wrapper {
  @media(min-width: @tablet-width) {
    padding: 50px;
  }

  @media(min-width: @desktop-width) {
    margin: auto;
    max-width: 840px;
  }
}

.form-order__slogan {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.item-features__legend-text {
  line-height: 16px;
  font-weight: 700;
  color: @brand-color-2;
  text-transform: uppercase;

  outline: 5px solid fade(red, 50%);
  outline-offset: -5px;
}

.form-order__item {
  border: none;
  padding: 0;
  margin: 0;

  @media(min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.item-features__list,
.item-features__item {
  padding: 0;
  margin: 0;

  outline: 5px solid fade(green, 50%);
  outline-offset: -5px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .item-features__text {
    appearance: none;
    line-height: 17px;
    color: @black;
    font-weight: 700;
  }
}

.item-features__input--textbox {
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
  min-height: 52px;
  min-width: 260px;
  border: none;
  border-bottom: 2px solid @brand-color-font;
  outline: 0;
  outline-offset: 0;
}

.item-features__input--textbox:hover,
.item-features__input--textbox:active {
  border: none;
  border-bottom: 2px solid @brand-color-1;
  outline: 0;
  outline-offset: 0;
}

.item-features__input--tel {
  background-image: url("../img/user-phone.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.item-features__input--email {
  background-image: url("../img/user-email.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.item-features__input--user-info {
  border: 2px solid @brand-color-font;
}

.item-features__input--user-info:hover,
.item-features__input--user-info:active,
.item-features__input--user-info:focus {
  outline: 0;
  border: 2px solid @brand-color-1;
}

.form-order__footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form-order__note {
  font-size: 14px;
  line-height: 16px;

  @media(min-width: @tablet-width) {
    order: 2;
  }
}
