.main-header {
  background-image: url("../img/hero-small.png");
  height: 373px;
  background-repeat: no-repeat;
}

.main-header__slogan {
  font-size: 27px;
  font-weight: 700;
}

.main-header a {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: @brand-color-2;
}

.main-header ul {
  padding: 0;
}

.main-header__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction:  row;
  }
}

.main-header__item {
  height: 103px;
  background-image: url(../img/icon-toy.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #63d1bb;

  @media (min-width: @tablet-width) {
    height: 119px;
  }
}
