.reviews__text {
  font-size: 15px;
}

.reviews__author-name {
  line-height: 24px;
  font-weight: 700;
}

.reviews__author-name--instagram {
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  font-weight: 400;
}
