body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a:visited {
  color: #444444;
};

.button {
  font: inherit;
  color: inherit;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #444444;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #444444;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;

}

.navigation__list,
.catalog__list,
.social__list,
.cart-size__list {
  list-style: none;
}

.navigation a {
  color: #000000;
  text-align: center;
}

.navigation a:hover,
.navigation a:focus {
  opacity: 60%;
}

.catalog {
  background-image: url("../img/hero-small.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.catalog__slogan {
  font-size: 27px;
  font-weight: 700;
}

.catalog a {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #63D1BB;
}

.title--level_2 {
  font-size: 25px;
  font-weight: 700;
}

.featured__slogan {
  color: #63D1BB;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.featured__intro {
  font-size: 15px;
  line-height: 24px;
}

.featured__list {
  font-size: 15px;
  line-height: 20px;
}

.featured__price {
  line-height: 24px;
  font-weight: 700;
}

.about__list {
  color: #000000;
  line-height: 20px;
  font-weight: 700;
}

.reviews__text {
  font-size: 15px;
}

.reviews__author-name {
  line-height: 24px;
  font-weight: 700;
}

.reviews__author-name--instagram {
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
}

.contacts__list {
  font-size: 14px;
}

.contacts__link {
  color: #444444;
  border-bottom: 1px solid #62D1BA;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #62D1BA;
  border-bottom: 1px solid #62D1BA;
}

.contacts__link:active {
  color: #62D1BA;
  border-bottom: 1px solid rgba(70, 193, 174, 0.1);;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.copyright__link svg {
  fill: #63D1BB;
}
