@import "variables.less";
@import "blocks/visually-hidden.less";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: #444444;
}

.navigation__list,
.catalog__list,
.social__list,
.cart-size__list,
.item-features__list {
  list-style: none;
}

@import "blocks/button.less";
@import "blocks/navigation.less";
@import "blocks/catalog.less";
@import "blocks/about.less";
@import "blocks/reviews.less";
@import "blocks/contacts.less";
@import "blocks/copyright.less";
@import "blocks/radio.less";
@import "blocks/checkbox.less";
@import "blocks/form-order.less";
