@import "global/variables.less";
@import "global/visually-hidden.less";
@import "global/global.less";

@import "blocks/page.less";
@import "blocks/page-header.less";



a:visited {
  color: #444444;
}

.navigation__list,
.catalog__list,
.social__list,
.cart-size__list,
.item-features__list {
  list-style: none;
}

@import "blocks/button.less";
@import "blocks/navigation.less";
@import "blocks/catalog.less";
@import "blocks/about.less";
@import "blocks/reviews.less";
@import "blocks/contacts.less";
@import "blocks/copyright.less";
@import "blocks/radio.less";
@import "blocks/checkbox.less";
@import "blocks/form-order.less";
